@import "tailwindcss";

@layer base {
  * {
    border-color: hsl(214.3 31.8% 91.4%);
  }
  
  body {
    background-color: hsl(0 0% 100%);
    color: hsl(222.2 84% 4.9%);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
